.main-content {
    margin-left: 280px; 
    padding: 20px; 
    min-height: 100vh; 
    background-color: #f1f1f1;
}
.sidebar {
    width: 280px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    padding-top: 20px;
    overflow-y: auto;
}
.table-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: #222;
}

.table-data>div {
    border-radius: 20px;
    background: #f8f9fa;
    padding: 24px;
    overflow-x: auto;
}

.head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.head h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}
.order {
    flex-grow: 1;
    flex-basis: 500px;
}

.order table {
    width: 100%;
    border-collapse: collapse;
}

.order table th {
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid #ced4da;
}

.order table td {
    padding: 16px 0;
}

.order table tr td:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.order table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.order table tbody tr:hover {
    background: #e9ecef;
}